.chatroom-page {
  display: flex;
  min-width: 0px;
  justify-content: baseline;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.page-chatroom-name {
  background-color: #5d536b;
  font-size: 25pt;
  width: 60%;
  height: 45px;
  border-radius: 5px;
  margin-left: 3%;
  padding-left: 1%;
}
.chatroom-info {
  margin-top: 5px;
}
@media only screen and (max-width: 768px) {
  .chatroom-page {
    flex-direction: column-reverse;
  }
}

.playlist {
  width: 370px;
  height: 400px;
  margin-right: 1%;
  margin-left: 2%;
  padding: 3px;
  padding-right: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: small;
  scrollbar-width: none;
}
.playlist-empty {
  text-align: center;
  width: 100%;
  margin: auto;
}

.video-info {
  text-align: right;
  margin-right: 2%;
  color: #c2bbcc;
}

.video-info-box .video-delete-button {
  cursor: pointer;
  margin-left: 83%;
  margin-right: 2%;
  margin-top: 1%;
  border: none;
  color: #c2bbcc;
  background-color: #1e1d20;
}
.video-info-box {
  background-color: #57545a;
  max-height: 135px;
  border-radius: 10px;
  padding: 2px;
  margin-top: 3px;
}
.title {
  margin-left: 3%;
  max-width: 70%;
  text-wrap: wrap;
  text-overflow: ellipsis;
}
.video-item {
  display: flex;
  padding-right: 2px;
  width: 100%;
  align-items: center;
  padding: 5px;
  margin-top: 2px;
}
.current-song {
  background-color: #3c3842;
  width: 100%;
  font-weight: bold;
}

.add-video-button {
  margin-top: 5px;
  margin-right: 3px;
  margin-left: 5px;
  background-color: #4a4355;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 120px;
  height: 50px;
}

.add-video-button:hover {
  background-color: rgb(102, 89, 122);
}

.video-buttons {
  margin-left: 5px;
  margin-left: 5%;
  align-items: center;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .video-buttons {
  }
}

/*///////////////////////// search modal /////////////////////*/
.search-modal {
  position: fixed;
  margin-top: 150px;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 70%;
  transform: translate(-50%, -50%);
  background-color: #1e1d20;
  border-radius: 10px;
  border: 1px solid rgb(71, 62, 71);
  box-shadow: 5px -5px 10px rgb(45, 42, 48);
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1000;
}

.search-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.search-input {
  flex: 1;
  margin-left: 2%;
  margin-top: 10px;
  width: 60%;
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #373f47;
  color: white;
  border: none;
  border-radius: 4px;
}

.search-button:hover {
  background-color: #4a545e;
}

.search-videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  width: 97%;
  max-height: 400px;
  text-overflow: ellipsis;
  overflow-y: auto;
}

.search-videos {
  display: flex;
  cursor: pointer;
  width: calc(33% - 20px);
  max-width: 450px;
  max-height: 150px;
  padding: 10px;
  margin: 5px;
  text-wrap: wrap;
  background-color: #323436;
  border-radius: 4px;
  text-align: left;
  box-sizing: border-box;
}
.search-videos img {
  margin-right: 10px;
}

.search-videos-container::-webkit-scrollbar {
  width: 8px;
}

.search-videos-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.search-videos-container {
  scrollbar-width: thin;
}

.search-videos-container::-moz-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
.notification-modal {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #5823d3;
  color: white;
  border-radius: 5px;
  transition: opacity 1s ease-in-out;
}

.notification-modal.visible {
  display: block;
  opacity: 0.8;
}

/* ////////////////////// Chatroom //////////////////// */
.chat-container {
  width: 250px;
  height: 100vh;
  top: 50px;
  position: fixed;
  right: 0;
  margin: auto;
  padding: 10px;
  border: 1px solid #333;
  background-color: #1a1a1a;
  color: white;
}
@media only screen and (max-width: 768px) {
  .chat-container {
    margin-top: 55%;
    width: 97%;
    height: 40%;
  }
}

.chat-messages {
  margin-bottom: 10px;
  height: 75%;
  overflow-y: auto;
  border: 1px solid #eee;
  padding: 10px;
  background-color: #333;
  color: white;
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
  background: #333;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #333;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-message {
  font-size: smaller;
  margin-bottom: 7px;
}

.chat-input {
  width: calc(100% - 90px);
  padding: 10px;
  border: 1px solid #555;
  background-color: #333;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
}

.chat-button {
  width: 60px;
  padding: 10px;
  background-color: #555555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-button:hover {
  background-color: #4e4e4e;
}

input:focus,
button:focus {
  outline: none;
}
