/* 사용자 인터페이스 공통 컨테이너 스타일 */
.user-container {
  max-width: 350px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.user-submit-container {
  text-align: center;
}

/* 입력 필드 스타일 */
.user-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

/* 버튼 스타일 */
.user-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: hwb(214 30% 31%);
  transition: background-color 0.3s;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.user-button:hover {
  background-color: hwb(214 25% 41%);
}

/* 오류 메시지 스타일 */
.error-message {
  margin-top: 5px;
  margin-bottom: 5px;
  color: hsl(44, 100%, 55%); /* 오류 메시지 색상 */
  font-size: 12px;
}

/* 링크 스타일 */
.user-link {
  color: #fff; /* 흰색 글씨 색상 */
  text-decoration: none; /* 밑줄 제거 */
  margin-right: 5px;
}

body {
  background-color: #121212; /* 매우 어두운 배경 */
  color: #fff;
  font-family: "Arial", sans-serif;
}

/* 헤더 스타일 */
header {
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 40px;
}

.logout-button {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
  color: white;
}
/* 푸터 스타일 */
.footer {
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  bottom: 0;
  width: 100%;
}

/* ////////////////////// Chatroom list //////////////////// */
.chatroom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.chatroom-block {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  height: 120px;
  border-radius: 15px;
  background-color: #1e1e1e;
  color: #ccc;
  flex: 0 0 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: left;
}

.chatroom-emoji {
  font-size: 2rem;
}

.chatroom-name {
  font-weight: bold;
  margin-top: 10px;
}

.chatroom-info {
  margin-top: 5px;
}

/* ////////////////////// Chatroom //////////////////// */
.chat-container {
  width: 20%;
  height: calc(100vh - 50px);
  position: fixed;
  right: 0;
  top: 50px;
  margin: auto;
  padding: 10px;
  border: 1px solid #333; /* 어두운 테두리 */
  background-color: #1a1a1a; /* 어두운 배경색 */
  color: white; /* 밝은 텍스트 색상 */
}

.chat-messages {
  margin-bottom: 10px;
  height: 75%;
  overflow-y: auto;
  border: 1px solid #eee;
  padding: 10px;
  background-color: #333;
  color: white;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-input {
  width: calc(100% - 70px);
  padding: 10px; /* 패딩을 늘림 */
  border: 1px solid #555;
  background-color: #333;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
}

.chat-button {
  width: 60px;
  padding: 10px;
  background-color: #555555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-button:hover {
  background-color: #4e4e4e; /* 버튼 호버 시 색상 */
}

input:focus,
button:focus {
  outline: none;
}
