/* 사용자 인터페이스 공통 컨테이너 스타일 */
.user-container {
  max-width: 350px;
  margin: 40px auto;
  padding: 20px;
  padding-top: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.user-submit-container {
  text-align: center;
}

/* 입력 필드 스타일 */
.user-input {
  width: 100%;
  padding: 10px;
  padding-left: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

/* 버튼 스타일 */
.user-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #776e81;
  transition: background-color 0.3s;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.user-button:hover {
  background-color: #9787a8;
}

/* 오류 메시지 스타일 */
.error-message {
  margin-top: 5px;
  margin-bottom: 5px;
  color: hsl(44, 100%, 55%); /* 오류 메시지 색상 */
  font-size: 12px;
}

/* 링크 스타일 */
.user-link {
  color: #fff; /* 흰색 글씨 색상 */
  text-decoration: none; /* 밑줄 제거 */
  margin-right: 5px;
  cursor: pointer;
}

body {
  padding-top: 60px;
  background-color: #121212; /* 매우 어두운 배경 */
  color: #fff;
  font-family: "Arial", sans-serif;
  /* Custom scrollbar styles */
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
}
/* For Webkit browsers like Chrome, Safari */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #333;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #333;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* 헤더 스타일 */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 40px;
  z-index: 1000;
}
.header-button {
  width: 150px;
  height: 40px;
  padding: 5px;
  text-overflow: ellipsis;
  margin-right: 10px;
  border-radius: 15px;
  font-size: medium;
  border: none;
  background-color: #5d536b;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}
.header-button:hover {
  background-color: #5a4b6e;
}
.logout-button {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
  color: white;
}
.dropdown-menu {
  margin-top: 10px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-item {
  color: white;
  background-color: #1c1c1c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: #5d536b;
}
/* 푸터 스타일 */
.footer {
  height: 20px;
  color: white;
  text-align: left;
  padding: 10px 0;
  margin-left: 10px;
  font-size: 10px;
  bottom: 0;
  width: 100%;
  position: fixed;
}
/* ////////////////////// Modal //////////////////// */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #333333;
  width: 30%;
  min-width: 300px;
  max-width: 300px;
  padding: 20px;
  border-radius: 5px;
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form label {
  margin-bottom: 5px;
}

.modal-content form input {
  margin: 0 auto 10px;
  padding: 8px;
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-content form .button-container {
  display: flex;
  justify-content: space-between; /* This will place some space between your buttons */
}

.modal-content form button {
  padding: 10px;
  background-color: #736685;
  width: 45%; /* Adjusted width to fit two buttons side by side */
  margin-top: 10px;
  margin-left: 26%;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ////////////////////// Chatroom list //////////////////// */
.chatroom-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 60px;
  height: 100vh;
  width: 1000px;
  margin: auto;
}

.chatroom-block {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 28%;
  height: 150px;
  border-radius: 15px;
  background-color: #5d536b;
  color: #ccc;
  flex-wrap: wrap;
  margin: 10px;
  margin-bottom: 10px;
  align-items: flex-start;
  padding: 15px;
  text-align: left;
  cursor: pointer;
}

.chatroom-emoji {
  font-size: 2rem;
}

.chatroom-name {
  width: 100px;
  font-weight: bold;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.chatroom-info {
  margin-top: 5px;
}
.delete-button {
  padding: 5px;
  border-radius: 4px;
  background-color: #4d414d;
  color: white;
  cursor: pointer;
  border: none;
  margin-left: 80%;
}
.chatroom-end {
  height: 20px;
  margin: auto;
  background-color: red;
  margin-top: 30px;
}

/* ////////////////////// Chatroom //////////////////// */
.chat-container {
  width: 18%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 50px;
  margin: auto;
  padding: 10px;
  border: 1px solid #333;
  background-color: #1a1a1a;
  color: white;
}

.chat-messages {
  margin-bottom: 10px;
  height: 75%;
  overflow-y: auto;
  border: 1px solid #eee;
  padding: 10px;
  background-color: #333;
  color: white;
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
  background: #333;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #333;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-message {
  font-size: smaller;
  margin-bottom: 7px;
}

.chat-input {
  width: calc(100% - 90px);
  padding: 10px;
  border: 1px solid #555;
  background-color: #333;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
}

.chat-button {
  width: 60px;
  padding: 10px;
  background-color: #555555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-button:hover {
  background-color: #4e4e4e;
}

input:focus,
button:focus {
  outline: none;
}

.no-video {
  height: 210px;
  width: 650px;
  font-size: 20pt;
  text-align: center;
  padding-top: 150px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #4e4e4e;
}
