/* 사용자 인터페이스 공통 컨테이너 스타일 */
.user-container {
  max-width: 350px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.user-submit-container {
  text-align: center;
}

/* 입력 필드 스타일 */
.user-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

/* 버튼 스타일 */
.user-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #4caf50; /* 밝은 녹색 */
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.user-button:hover {
  background-color: #45a049; /* 호버 시 약간 어두운 녹색 */
}

/* 오류 메시지 스타일 */
.error-message {
  margin-top: 5px;
  margin-bottom: 5px;
  color: hsl(44, 100%, 55%); /* 오류 메시지 색상 */
  font-size: 12px;
}

/* 링크 스타일 */
.user-link {
  color: #fff; /* 흰색 글씨 색상 */
  text-decoration: none; /* 밑줄 제거 */
  margin-right: 5px;
}

body {
  background-color: #0b3d3d;
  color: #fff;
  font-family: "Arial", sans-serif;
}

/* 헤더 스타일 */
header {
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 40px;
}

.logout-button {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
  color: white;
}
/* 푸터 스타일 */
.footer {
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
